# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
POSTGRES_URL="postgres://postgres.[USERNAME]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="VDbfD2YeFkcn1S+Pxy5TZloS/mMvq33WA6be94FphtU="
AUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
AUTH_DISCORD_ID="1038407630672109598"
AUTH_DISCORD_SECRET="heXuVaB7BCEp19Ra9g8YTDxyvG-qbnif"
